
body, html {
	background-color: #052638;
    height: 80%;
    
    
}

.card-container.card {
    margin-top: 11vh;
    max-width: 350px;
    padding: 40px 40px;
    border-radius: 20px;
}


/*
 * Card component
 */
 .card {
    background-color: #fff;
    
    border-bottom: 19px solid #141dbf;
    width: 36vh;
    height: 70vh;
    margin: 0 auto 25px;
    
   
    
    
}




.profile-img-card {
    margin-top: -5vh;
    margin-left:-1.7vh;
    display: flex;
    height: 40vh;

   
    
}




.reauth-email {
   margin-left: 2vh;
    display: flex;
    
    
}



.profile-img-card-social{
    display: flex;
    height: 40px;
    margin-left: 2.3vh
   
}

.span-descrition{
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    
    
}



.txt-middle{
    display: flex;
   margin-left: 4vh;

    flex-direction: column;
    width: 40vh;
}

.siga{
    margin-top: 5vh;
   display: flex;
   margin-left: -2vh;
   margin-right: 5vh;
   margin-bottom: -4vh;
   font-family: "Roboto Condensed", sans-serif;
}